<!DOCTYPE html>
<html data-ng-app="menuApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>MonitorServer - Server</title>
    <script type="text/javascript" src="/webjars/angularjs/1.3.0/angular.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/menu.js"></script>
    <style>
        .my-offset{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="my-offset" >
    <h2>Menu Principal</h2>
    <div data-ng-controller="MenuController">
        <button  type="button" class="btn btn-primary" data-ng-click="getMem()">Memory Usage</button>
        <button  type="button" class="btn btn-primary" data-ng-click="getFileSystemUsage()">File System Usage</button>
        <button  type="button" class="btn btn-primary" data-ng-click="getProcess()">Process List</button>
        <br><br>
        <div data-ng-show="memo">
            Total Memory: {{totalMem}}MB<br>
            Used Memory: {{usedMem}}MB<br>
            Free Memory: {{freeMem}}MB<br>
        </div>

        <div data-ng-show="fs">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Available:</th>
                    <th>Filesystem:</th>
                    <th>Mounted On:</th>
                    <th>Size:</th>
                    <th>% Use:</th>
                    <th>Used:</th>
                </tr>
                <tr ng-repeat="disks in fileSystems">
                    <td>{{disks.available}}</td>
                    <td>{{disks.filesystem}}</td>
                    <td>{{disks.mountedOn}}</td>
                    <td>{{disks.size}}</td>
                    <td>{{disks.usePercen}}</td>
                    <td>{{disks.used}}</td>
                </tr>
            </table>
        </div>

        <div data-ng-show="ps">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>PID:</th>
                    <th>Name:</th>
                    <th>% CPU:</th>
                    <th>State:</th>
                    <th>% Mem:</th>
                </tr>
                <tr ng-repeat="proces in process">
                    <td>{{proces.pid}}</td>
                    <td>{{proces.name}}</td>
                    <td>{{proces.pcpu}}</td>
                    <td>{{proces.state}}</td>
                    <td>{{proces.pmem}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>